@import url('https://fonts.googleapis.com/css2? family = Source + Sans + Pro: ital, wght @ 0,300; 0,400; 0,600; 0,700; 1,200; 1,300; 1,400 & display = swap' ); 


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 25px -22px black;
  z-index: 2;
}

.header-content{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo h1 b{
  color:#45a2fd;
}

.menu{
  height: 80px;
}


.menu nav{
  height: 100%;
}

.menu nav ul{
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li{
  height: 100%;
  margin: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-selected:before{
  content: '';
  width: 100%;
  height: 4px;
  background: #45a2fd;
  position: absolute;
  top: 0;
  left: 0;
}

.menu nav ul li a{
  color: #777777;
  font-size: 18px;
  transition: color 300ms;
}

.menu nav ul li a:hover{
  color: #45a2fd;
}

.menu .text-menu-selected{
  color: #46a2fd;
}

.menu nav ul li a i{
  display: none;
}

#icon-menu{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background: #eeeeeefa;
  border-radius: 100%;
  color: #787878;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

#icon-menu:hover{
  opacity: 0.8;
}

/*Carrousel*/


h2{
            text-align: center;
            margin-top: 100px;
            font-size: 40px;
            font-family: 'Source Sans Pro';
            text-shadow: 0 0 6px 0 black;
            
}

.titulo-portada h1{
            margin-top: 270px;
            text-align: center;
            font-size: 40px;
            font-family: 'Source Sans Pro';
}
.content-all{
            width: 210px;
            margin: auto;
            perspective: 1500px;
            position: relative;
            margin-top: 50px;
}

.content-carrousel{
            width: 100%;
            position: absolute;
            animation: rotar 20s infinite linear;
            transform-style: preserve-3d;
}

.content-carrousel:hover{
            animation-play-state: paused;
            cursor: pointer;
}


.content-carrousel figure{
            width: 100%;
            height: 140px;
            overflow: hidden;
            position: absolute;
            box-shadow: 0 0 20px 0 black ;
            transition: all 300ms;
}

.content-carrousel figure:hover{
            box-shadow: 0 0 0px 0 black ;
            transition: all 300ms;

}


.content-carrousel figure:nth-child(1){transform:rotateY(0deg) translateZ(300px)}
.content-carrousel figure:nth-child(2){transform:rotateY(40deg) translateZ(300px)}
.content-carrousel figure:nth-child(3){transform:rotateY(80deg) translateZ(300px)}
.content-carrousel figure:nth-child(4){transform:rotateY(120deg) translateZ(300px)}
.content-carrousel figure:nth-child(5){transform:rotateY(160deg) translateZ(300px)}
.content-carrousel figure:nth-child(6){transform:rotateY(200deg) translateZ(300px)}
.content-carrousel figure:nth-child(7){transform:rotateY(240deg) translateZ(300px)}
.content-carrousel figure:nth-child(8){transform:rotateY(280deg) translateZ(300px)}
.content-carrousel figure:nth-child(9){transform:rotateY(320deg) translateZ(300px)}
.content-carrousel figure:nth-child(10){transform:rotateY(360deg) translateZ(300px)}

.content-carrousel img{
            width: 100%;
}

.content-carrousel img:hover{
            transform:scale(1.5);
            transition: all 300ms;
}

@keyframes rotar{
           from{
                       transform:rotateY(0deg);
           }to{
                       transform: rotateY(360deg);
           }

}

/*About us*/

.titulo-h2{
            padding: 30px;
}
.contenedor-sobre-nosotros{
            display: flex;
            justify-content: space-evenly;
            
}

.imagen-about-us{
            width: 48%;
}

.sobre-nosotros .contenido-textos{
            width: 48%;
}

.contenido-textos h3{
            margin-bottom: 15px;
}

.contenido-textos h3 span{
            background: #4d0686;
            color: #fff;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            width: 30px;
            height: 30px;
            padding: 2px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
            margin-right: 5px;
}

.contenido-textos p{
            padding: 0 0 30px 15px;
            font-weight: 300;
            text-align: justify;
}

/*Galeria*/
.portafolio{
            background: #f2f2f2;
}

.galeria-port{
            display: flex;
            justify-content:space-evenly;
            flex-wrap: wrap;
}
.imagen-port{
            width: 23%;
            margin-bottom: 10px;
            height: 150px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.imagen-port > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
}

.hover-galeria{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform:scale(0);
            background: hsla(273, 91%, 27%, 0.7);
            transition: transform 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

}

.hover-galeria img{
            width: 50px;
}
.hover-galeria p{
            color: #fff;
}
.imagen-port:hover .hover-galeria{
            transform: scale(1);
}

/*Clientes*/
.cards{
  display:flex;
  justify-content: space-evenly;
  padding: 10px;
}

.cards .card{
  background: #4d0686;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border: 3px solid #fff;
            border-radius: 50%;
            display: block;
}

.cards .card > .contenido-texto-card{
            width: 60%;
            color: #fff;
}

.cards .card > .contenido-texto-card p{
            font-weight: 300;
            padding-top: 5px;

}

/*Our team*/
.about-services{
  background: #f2f2f2;
  padding-bottom: 30px;
}
.servicio-cont{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.servicio-ind{
  width: 28%;
  text-align: center;
}
.servicio-ind img{
  width: 90%;
}
.servicio-ind h3{
  margin: 10px 0;
}
.servicio-ind p{
  font-weight: 300;
  text-align: justify;
}


/*Footer - pie de pagina*/
.container-footer{
            width: 100%;
            padding: 40px 0;
            background: #f7f7f7;
            margin-top: 40px;
}

.container-footer footer{
            max-width: 1200px;
            margin: auto;
}

.container-footer footer .logo-footer{
            text-align: center;
}

.container-footer footer .logo-footer img{
            width: 100px;
}

.container-footer footer .redes-footer{
            display: flex;
            justify-content: center;
            margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
            font-size: 20px;
            margin: 20px;
            background: #efefef;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
            background: #41579a;
            color: #fff;
}
footer .redes-footer .fa-instagram:hover{
            background: linear-gradient(to top, #fcde30, #e9712a,#D2313B,#ae4198,#7540A1,#5443A8);
            color: #fff;
}
footer .redes-footer .fa-youtube:hover{
            background: #de4c34;
            color: #fff;
}

.container-footer footer hr{
            margin-top: 20px;
            border: none;
            height: 2px;
            background: #c0c0c07a;
}

.container-footer h4{
            text-align: center;
            margin-top: 40px;
            color: #8e8e8e;
            font-weight: 500;
            font-size: 18px;
}

/*Responsive Desing adaptable a dispositivos moviles*/
@media screen and (max-width:1220px){
  .header-content,
  .container-content,
  .container-footer footer{
              max-width: 1000px;
              padding: 0 20px;
  }
}

@media screen and (max-width:1020px){
  .container-content{
              width: 100%;
              flex-direction: column;
  }

  article{
              box-shadow: 0 0 0 0;
  }

  .container-aside{
              display: flex;
              justify-content: center;
  }

  .container-aside aside{
              max-width: 300px;
              margin: 10px;
  }
}

@media screen and (max-width:800px){

  

  body{
    overflow-x: hidden;     
  }

  .container-all{
              transition: all 300ms cubic-bezier(1,0,0,1);

  }

  .move-container-all{
              transform: translateX(300px);
  }

  .menu{
              width: 300px; /*ocultamos menu temporalmente*/
              height: 100vh;
              position: fixed;
              top: 80px;
              left: 0;
              background: #fff;
              overflow: hidden;
              transform: translateX(-350px);
              box-shadow: 10px 0 20px -25px black;
              transition: all 300ms cubic-bezier(1,0,0,1);
  }

  .show-lateral{
              width: 300px;
              transform: translateX(0px);
  }

  .menu nav ul{
              flex-direction: column;
  }

  .menu nav ul li{
              max-width: 200px;
              height: 50px;
              justify-content: flex-start; /*ver este center*/
  }

  .menu-selected:before{
              width: 0;
  }

  .menu nav ul li a{
             margin-top: 40px;
             color: #858585;
  }

  .menu nav ul li a i{
              width: 20px;
              display: inline-block;
              margin-right: 10px;
              color: #46a2fd;
  }

  #icon-menu{
              display: flex;
  }
}
